# Node.js
node_modules/
backend/node_modules/

# Build
build/

# Environment Files
.env
backend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Python Virtual Environment
venv/
.venv/

# OS Files
.DS_Store
Thumbs.db
